* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interface {
  height: 40vh;
  width: 40vw;
}

h1 {
  font-size: 35px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 10px;
  padding: 7px;
}
#email {
  height: 30px;
  width: 60%;
}
#password1 {
  height: 30px;
  width: 60%;
}
#password2 {
  height: 30px;
  width: 60%;
}
button {
  visibility: hidden;
  height: 35px;
  width: 75px;
  margin-left: 28%;
  margin-top: 10px;
  background-color: rgb(79, 79, 238);
}
